/* COLOR PALETTE */
:root {
  --black-void: #0e0b16;
  --purple: #a239ca;
  --blue-neon: #4717f6;
}

/* @font-face{
  font-family: playfair;
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
} */

.navbar-color {
  background-color: var(--black-void);
}

#navbar-text-color {
  color: var(--purple);
}
.navbar-item {
  width: 250px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
#navbar-text-color:hover {
  color: var(--blue-neon);
}
.shadow-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.753);
  box-shadow: 0 0 1rem var(--black-void);
}
.logo-style:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.logo-style:hover,
.logo-style:not(:hover),
.icon-style:hover,
.icon-style:not(:hover),
.icon-style:focus {
  transition-duration: 0.6s;
}
.icon-style:hover,
.icon-style:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--purple);
  transform: translateY(-0.25em);
}